@charset "UTF-8";

/* SIDE FEATURE CAR REG AND PRODUCTS OPTION SELECTIONS */
#product_menu_box{
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;	
	border-bottom: 4px solid #efefef;
	box-shadow: 0 0 5px rgba(0,0,0, 0.5);
	background-image: url(../images/gradient.jpg);
	background-repeat: repeat-x;
	background-position: left 12px;
	width: 240px;
	z-index: 20;
	position: absolute;
	top: 210px;
}

.default_left_pos{left: 0;}

body .slide_menu_box{left: -210px;}

#slide_arrow{
	background-color: #eaeaea;
	width: 30px;
	height: 302px;
	float: right;
	background-image: url(../images/slide_arrows.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}

#product_select_box{
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;	
	background-image: url(../images/gradient.jpg);
	background-repeat: repeat-x;
	background-position: left 12px;
	width: 210px;
	float: left;
}

#product_title_container{
	text-align: center;
	background-color: #00a000;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

#product_title_container a{
	display: block; 
	color: white;
}

#product_select_box #product_selection{
	list-style: none;
	margin: 14px;
	width: 185px;
	float: left;
}

#product_select_box ul li a{
	color: #333333;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

#product_select_box #product_selection li{
	border-bottom: 1px solid #efefef;
	float: left;
	width: 185px;
	padding-bottom: 7px;
	padding-top: 7px;
}

#product_select_box ul li:hover{background-color: #f3f3f3;}

.product_thumb{
	width: 61px;
	height: 61px;
	border: 1px solid #cfcfcf;	
	float: left;
	margin-right: 8px;
}

.product_title{margin-top: 10px;}

#car_regs{
	float: left;
	padding: 0 15px 15px 15px;
	display: none;
	margin-top: 10px;
}

#reg_nos{
	float: left;
	list-style: none;	
	width: 182px;
	margin-top: 10px;
}

#car_regs #reg_nos li a{
	width: 90%;
	text-align: center;
	color: white;
	background-color: #50b849;
	padding: 10px;
	float: left;
	border-radius: 3px;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* OVERLAY MODAL PANEL */
.overlay{
	background-image: url(../images/overlay_bg.png);
	width: 100%;
	height: 100%;
	float: left;
	min-width: 1024px;
	position: fixed;
	z-index: 10;
	display: none;
}

.overlay:hover{cursor: pointer;}

.panel{
	width: 559px;
	border: 4px solid #50b849;
	background-color: white;
	background-image: url(../images/modal_bg2.gif);
	background-repeat: repeat-x;
	min-height: 100px;
	position: absolute;
	left: 50%;
	margin-top: 90px;
	margin-left: -279px;
	z-index: 12;
	display: none;
	padding-bottom: 20px;
	box-shadow:  0 0 8px #000000;
}

.content_area{margin: 35px 27px 27px 27px;}

.panel_btn{
	color: white;
	background-color: #50b849;
	padding: 10px;
	display: inline-block;
	border-radius: 3px;
	margin-top: 20px;
}

.panel_btn:hover, #car_regs #reg_nos li a:hover{background-color: #00A000;}

/* ENTER CAR REGISTRATION FORM */
#my_reg_form{margin-top: 15px;}

#my_reg_form input{
	border: 1px solid #dcdcdc; 
	border-radius: 3px;
	padding: 5px;
	width: 297x;
	position: relative;
	font-weight: bold;
	top: -2px;
}

#my_reg_form input:focus{border: 1px solid #00A000;}

#my_reg_form button{
	color: white;
	background-color: #50b849;
	padding: 2px 10px 1px 10px;
	border-radius: 3px;
	font-size: 16px;
	font-weight: bold;
	border: none;
}

#my_reg_form button:hover{cursor: pointer;}

#make_col{
	width: 250px; 
	float: left;
}

#model_col{
	width: 150px;
	float: left;
}

#car_make, #model{width: 190px;}

/* MY CAR PANEL */
.product_item{
	width: 110px;
	height: 110px;
	float: left;
	margin-right: 10px;
}

#bs_container{margin-top: 8px;}

#boot_size{
	color: #717171;
	font-size: 12px;
	margin-top: 10px;
}

#button_container{
	float: left; 
	width: 330px;
}

/*#check_or_gif{margin-bottom: 15px;}*/
#check_or_gif{margin-right: 15px;}

#package_dimensions{margin-top: 10px;}

#your_car{display: none;}

#product_sizes{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
}

#your_car span, #package_dimensions{
	font-size: 12px;
	color: #717171;
	font-size: 12px;
}

#your_car img{float: left;}

#car_product_info, #selected_product{
	width: 100%;
	float: left;
}

#car_product_info #car_name{
	font-size: 16px;
	color: #343434;
}

#your_car #car{
	float: right;
	max-width: 175px;
	margin-right: 0;
}

#car_info{
	float: left;
	width: 330px;
}

#selected_product h3{
	margin-bottom: 16px;
	font-size: 18px;
}